# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/MediaServer/.vs/
*.vcxproj.user
x64/
/.gitignore
/MediaServer/conan.lock
/MediaServer/conan_imports_manifest.txt
/MediaServer/conanbuildinfo.props
/MediaServer/conanbuildinfo.txt
/MediaServer/conaninfo.txt
/MediaServer/graph_info.json
